@import '../../config.styl';
  
.nomatch-component {
  background: $blue-500;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;

  .title {
    font-size: 180px;
    margin: 0;
  }

  .link {
    color: white;
  }
}