@import '../../config.styl';

$totalEight = $header-height + $footer-height;

.signin-container {
    margin-top: $header-height;
    min-height: "calc(100vh - %s)" % $totalEight;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $blue-500;

    h1 {
      font-weight: 300;
      color: white;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      max-width: 40rem;
      padding: 2.5rem;
    }

    .googleLogin {
      background: white;
      height: 5rem;
      width: 250px;
      border-radius: 4px;
      color: $grey-800;
      border: 1px solid $grey-800;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin-left: 2rem;
      }
    }
}