@import '../config.styl';

.app-header-component {
  .app-header-container {
    display: flex;
    justify-content: space-between;
    height: $app-header-height;
    align-items: center;
    padding: 0 2rem;
    position: relative;
  }

  .image-logo {
    height: 55px;
  }

  .userEmail {
    font-size: 14px;
  }

  .icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      color: $blue-500;
    }
  }
}