@import '../config.styl';

.editor-component {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;

  .canvas {
    background: $grey-100;
  }

  .right-panel {
    display: flex;
    flex-direction: column;
  }

  .actions {
    flex: 1;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background: #ddd;

    button {
      margin-bottom: 1rem;
    }
  }

  .input-range {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.blocklyToolboxDiv {
  user-select: none;
}

.blocklyHidden {
  display: none !important;
}

.blocklyTreeRow {
  height: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.editor-container {
  display: flex;
}

#blockly-container {
  position: relative;
  background: gold;
  flex: 1;
  min-width: 500px;
  min-height: 500px;
}

#blockly-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blocklyScrollbarHandle {
  fill: #2196F3 !important;
}

.blocklyIconGroup:not(:hover) {
  opacity: 1;
}
.blocklyIconGroup .blocklyIconShape {
  fill: #F06292;
  stroke: #FCE4EC;
}
.blocklyIconGroup .blocklyIconSymbol {
  fill: #FCE4EC;
}

.blocklyMainBackground {
  stroke-width: 0;
}