@import '../config.styl';

.footer-component {
  background: black;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  section {
    height: $footer-height
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }
}