@import '../config.styl';

.header-component {
  background: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: $app-header-height;

  .image-logo {
    height: 55px;
  }

  .header-container {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    height: $header-height;
    align-items: center;

    .btn-container {
      display: flex;
    }
  }
}