@import '../config.styl';

.navbar-component {
  display: flex;
  flex-direction: column;
  width: 200px;
  flex: 0 0 200px;
  background: $green-300;

  .navbar-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid;
    padding: 1rem;
  }
}
