@import '../../config.styl';

$totalEight = $header-height + $footer-height;

.home-container {
  display: flex;
  flex-wrap: wrap;
}

.home-content {
  margin-top: $header-height;
  background: $blue-500;
  min-height: "calc(100vh - %s)" % $totalEight;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}