@import 'kouto-swiss'
@require './config.styl'

box-sizing-reset();
normalize();

/* Fonts
======================================== */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./assets/fonts/materialicons-regular.woff2) format('woff2'),
       url(./assets/fonts/materialicons-regular.woff) format('woff');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */
}

@font-face {
  font-family: 'robotoblack';
  src: url('./assets/fonts/roboto-black-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('./assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('./assets/fonts/roboto-light-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('./assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('./assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font Sizes
======================================== */

.font-xxs {
  font-size: $font-xxs;
}
.font-xs {
  font-size: $font-xs;
}
.font-sm {
  font-size: $font-sm;
}
.font-md {
  font-size: $font-md;
}
.font-lg {
  font-size: $font-lg;
}
.font-xl {
  font-size: $font-xl;
}
.font-xxl {
  font-size: $font-xxl;
}

/* Normalize Corrections
======================================== */

button,
input,
optgroup,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

table {
  border-collapse: collapse;
}

/* Base Rules
======================================== */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; //10px
}

body {
  font-size: 1.6rem;
}


/* Margin and Paddings
======================================== */

.m-10 {
  margin: 10px;
}

/* Shadows
======================================== */
.paper-shadow-1 {
  box-shadow: 0 0 0 #000, 0 .1rem .4rem 0 rgba(0, 0, 0, 0.37);
}

.paper-shadow-2 {
  box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-3 {
  box-shadow: 0 1.1rem .7rem 0 rgba(0, 0, 0, 0.19), 0 1.3rem 2.5rem 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-4 {
  box-shadow: 0 1.4rem 1.2rem 0 rgba(0, 0, 0, 0.17), 0 2rem 4rem 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-5 {
  box-shadow: 0 1.7rem 1.7rem 0 rgba(0, 0, 0, 0.15), 0 2.7rem 5.5rem 0 rgba(0, 0, 0, 0.3);
}

/* Cards
======================================== */
.card
    @extend .paper-shadow-1
    background-color $grey-50
    border-radius .2rem
    overflow hidden

    .content
        padding 2.4rem
        position relative

body {
  height: auto;
}
